@using TradeRiser.Core
@using TradeRiser.UI.Areas.Cpf
@model Dictionary<string, string>
@{
    Layout = null;

    IHtmlString panelStyleAttribute = null;
    string appName = this.ViewBag.ApplicationName;
    string seleted = this.ViewBag.ExistingValue;
    string parameterName = this.ViewBag.SearchParameterName;
    if (this.Model.Keys.Contains(seleted))
    {
         panelStyleAttribute = Html.Raw(string.Format("style='{0}';", "display:block"));
    }    
}
<div class="settings-panel"> 
    <div id="@string.Format("panel_{0}", @appName)" class= "panel"  @panelStyleAttribute  >
        <div class="heading">
           @TradeRiserUIResource.UserPreferences_ChoooseDefaultSearch:
        </div>
        <div class="panel-content">
            @{
                if (this.Model.Any())
                {
                    foreach (KeyValuePair<string, string> item in this.Model)
                    {
                        if (item.Value == seleted)
                        {                        
                   
                <div class="option">
                    <label>
                        <input type="radio" name="@appName" search-parameter= "@parameterName" value ="@item.Value" checked/>
                        @item.Key
                    </label>
                </div>               
                        }
                        else
                        { 
                <div class="option">
                    <label>
                        <input type="radio" name="@appName" search-parameter= "@parameterName" value ="@item.Value"/>
                        @item.Key
                    </label>
                </div>        
                        }
                    }
                }
            }
        </div>
    </div>
</div>