@using System.Linq
@using System.Web
@using TradeRiser.UI
@using TradeRiser.Core.Director
@{
    string logoSrc = this.Director.Configuration.GetConfigItem<string>("Core.Branding.Logo-Light");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TradeRiser - Beta</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/jstorage.js"></script>

    @RenderSection("head", false)
</head>
<body>

    <div class="header">
        <div style="top: 7px; left: 5px; position: absolute">
            <img alt="TradeRiser" src="../../../Images/TradeRiser_Web1.png" style="border: 0; height: 50px; width: 235px" />
        </div>
        <div class="logged-out-user-section">
            @{ <text> @User.Identity.Name!</text>}
            <a class="sign-up" id="menu-bar-sign-out" href="@string.Format("{0}core/logoff", this.Director.ApplicationPath)">Log off</a>
        </div>
    </div>
    <div id="body">
        <div class="collapse navbar-toggleable-xs" id="main-toolbar">
            <ul class="ribbon nav navbar-nav">
                @RenderSection("ribbon", false)
            </ul>
        </div>
        @RenderSection("subnav", false)
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - TradeRiser</p>
            </div>
        </div>
    </footer>


    <script type="text/javascript">
        var COREROOT = "@Url.Action("", "", new { area = "" })";
        var APPLICATIONPATH = COREROOT.replace(/\/core/gi, "");
        if (APPLICATIONPATH == "") {
            APPLICATIONPATH = "/";
        }
        else if (APPLICATIONPATH[APPLICATIONPATH.length - 1] != "/") {
            APPLICATIONPATH += "/";
        }

        var FULLAPPLICATIONPATH = location.href.substring(0, location.href.indexOf(APPLICATIONPATH)) + APPLICATIONPATH;
        if (location.href.indexOf("http://localhost:") === 0) {
            // for debug
            FULLAPPLICATIONPATH = location.href.substring(0, location.href.indexOf("/", 7)) + APPLICATIONPATH;
        }
        $.url = function (action) {
            return "@Url.Action("")/" + action;
        };


        $(function () {
            // cpf should load first
            corejs.load();
            @RenderSection("jQueryLoad", false)
        });

        var USEDYNOFORM = false;
        var USERID = "CF551E72-EAD3-4E14-9CDA-4DE33C2D0EFA";
        var PAGENAME = "page test"
        @* var ISANON = @this.ViewBag.Director.IsAnonymousUser.ToString().ToLower();
        var USERID = "@userID";
        var USERNAME = "@userName";
        var USERDISPLAYNAME = "@userDisplayName";
        var CULTURE = "@currentCulture";
        var PAGENAME = "@this.ViewBag.PageName.ToString()";
        var APPLICATIONNAME = "@this.ViewBag.ApplicationName";*@
    </script>
    @*  @Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/cpf")
    @RenderSection("scripts", required: false)
</body>
</html>
