@using TradeRiser.UI
@using TradeRiser.UI.Controls

@model TradeRiser.UI.Models.UserModel
@{
    ViewBag.Title = TradeRiserUIResource.Password_Title;


   // this.ViewBag.ShowHeader = TradeRiser.UI.ShowHeader.Show;
}

@section head
{@*#3196 CPF Header*@
<script type="text/javascript">
    var CURRENTUSER = '@ViewBag.User';
</script>
}
@section jQueryLoad
{
    settings.password.load();
}
@section ribbon
{
    @*<div class="section" data-title="@TradeRiserUIResource.Ribbon_MySettings">*@

    <li class="nav-item">
        <a id="save" href="#" class="nav-link">
            <span class="fa fa-fw fa-save"></span>@Html.Raw(TradeRiserUIResource.Ribbon_User_Save)
        </a>
    </li>

    @*</div>*@
}
@section subnav
{
    @{this.Html.RenderPartial("_UserMenu", "password");}
}

<div class="settings-content page-content">
    <div class="section">
        <div class="section-title">
            <div class="title-wrapper">
                @TradeRiserUIResource.ChangePassword_SectionHeading
            </div>
        </div>
        @*<div class="section-title-empty" ></div>*@
        <div class="section-content" id="password-details-section">
            <label>
                @TradeRiserUIResource.Password_Old @Html.ValidationControl("old-password", true)
            </label>
            <input type="password" id="old-password" name="old-password" maxlength="255" class="cpftxt" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) />
            <label>
                @TradeRiserUIResource.Password_Text @Html.ValidationControl("new-password", true)
            </label>
            <input type="password" id="new-password" name="new-password" maxlength="255" class="cpftxt" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) />
            <label>
                @TradeRiserUIResource.Password_Confirm @Html.ValidationControl("password-confirm", true)
            </label>
            <input type="password" id="password-confirm" name="password-confirm" maxlength="255" class="cpftxt" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) />
            <br />
            <br />
            <br />
            <div id="password-policy-message">@ViewBag.PolicyMessage</div>
        </div>
    </div>
</div>