@using TradeRiser.Core
@using TradeRiser.UI.Areas.Cpf
@model TradeRiser.Core.Models.ThemePreferences

@{
    this.ViewBag.Title = TradeRiserUIResource.Preferences_Title;
    this.ViewBag.ShowHeader = TradeRiser.UI.ShowHeader.Show;
}
@section jQueryLoad
{
    userpreferences.load();
}
@section head
{
    <script type="text/javascript">
        $(function () {
            $.minicolors = {
                defaults: {
                    animationSpeed: 50,
                    animationEasing: 'swing',
                    hide: null,
                    hideSpeed: 100,
                    inline: false,
                    letterCase: 'uppercase',
                    opacity: false,
                    position: 'bottom left',
                    show: null,
                    showSpeed: 100,
                    theme: 'default',
                    control: 'wheel',
                    defaultValue: '@Model.Accent',
                    change: function (hex, opacity) {
                        if (!hex) return;
                        $('.minicolors-swatch-color').css('background-color', hex);
                    }
                }
            };

            $('#wheel').minicolors();

            if (@Model.UseDarkTheme.ToString().ToLower() === true) {
                $('#themeLight').prop('checked', false);
                $('#themeDark').prop('checked', true);
            } else {
                $('#themeLight').prop('checked', true);
                $('#themeDark').prop('checked', false);
            }

            if (@Model.UseDarkChrome.ToString().ToLower() === true) {
                $('#chromeLight').prop('checked', false);
                $('#chromeDark').prop('checked', true);
            } else {
                $('#chromeLight').prop('checked', true);
                $('#chromeDark').prop('checked', false);
            }
        });
    </script>

    <link href="@this.Url.CpfContent("~/styles/jquery.minicolors.css", this.Director)" rel="stylesheet" type="text/css" />

}
@section ribbon
{
    @*<div class="section" data-title="@TradeRiserUIResource.Ribbon_MySettings">*@

    <li class="nav-item">
        <a id="save" href="#" class="nav-link">
            <span class="fa fa-fw fa-save"></span>@Html.Raw(TradeRiserUIResource.Ribbon_User_Save)
        </a>
    </li>

    @*</div>*@
}
@section subnav
{
    @{this.Html.RenderPartial("_UserMenu", "themeoptions");}
}

<div class="settings-content page-content">
    <div class="section">
        <div class="section-title">
            <div class="title-wrapper">@TradeRiserUIResource.UserPreferences_ColourOptionsTitle</div>
        </div>
        <div class="section-content" id="color-wheel">
            <span class="brand-option">@TradeRiserUIResource.UserPreferences_ChooseBrandColour :</span>
            <div class="minicolors minicolors-theme-default minicolors-position-bottom minicolors-position-left">
                <input type="text" id="wheel" class="minicolors-input" value="" size="7" />
                <span class="minicolors-swatch">
                    <span class="minicolors-swatch-color" style="background-color: @Model.Accent;"></span>
                </span>
                <div class="minicolors-panel minicolors-slider-wheel" style="display: none;">
                    <div class="minicolors-slider" style="background-color: @Model.Accent;">
                        <div class="minicolors-picker" style="top: 0px;"></div>
                    </div>
                    <div class="minicolors-opacity-slider">
                        <div class="minicolors-picker"></div>
                    </div>
                    <div class="minicolors-grid">
                        <div class="minicolors-grid-inner"></div>
                        <div class="minicolors-picker" style="top: 90px; left: 70px;"><div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="settings-content page-content">
    <div class="section">
        <div class="section-title">
            <span class="title-wrapper">@TradeRiserUIResource.UserPreferences_ThemeOptionsTitle</span>
        </div>
        <div class="section-content" id="theme-choice">
            <ul id="theme-radio-buttons">
                <li><input id="themeLight" type="radio" name="theme" value="light" checked><label for="themeLight">@TradeRiserUIResource.UserPreferences_LightThemeText</label></li>
                <li><input id="themeDark" type="radio" name="theme" value="dark" /><label for="themeDark">@TradeRiserUIResource.UserPreferences_DarkThemeText</label></li>
            </ul>
        </div>
    </div>
</div>


<div class="settings-content page-content">
    <div class="section">
        <div class="section-title">
            <span class="title-wrapper">@TradeRiserUIResource.UserPreferences_ChromeOptionsText</span>
        </div>
        <div class="section-content" id="chrome-choice">
            <ul id="chrome-radio-buttons">
                <li><input id="chromeLight" type="radio" name="chrome" value="Light" checked><label for="chromeLight">@TradeRiserUIResource.UserPreferences_LightChromeText</label></li>
                <li><input id="chromeDark" type="radio" name="chrome" value="Dark" /><label for="chromeDark">@TradeRiserUIResource.UserPreferences_DarkChromeText</label></li>
            </ul>
        </div>
    </div>
</div>


