@using TradeRiser.UI
@section jQueryLoad
{
   settings.password.load();
}
@section ribbon
{

  @*  <li class="nav-item">
            <a href="@string.Format("~/core/logoff")" class="nav-link">
            <span class="fa fa-chevron-left"></span>@Html.Raw(TradeRiserUIResource.Ribbon_User_Quit)
        </a>
    </li>
    <li class="nav-item">
       <a id="save" href="#" class="nav-link">
            <span class="fa fa-fw fa-save"></span>@Html.Raw(TradeRiserUIResource.Ribbon_User_Save)
        </a>
    </li>*@

}
<div class="settings-content page-content">
    <div class="section">
        <div class="section-title">
            <div class="title-wrapper">
                @TradeRiserUIResource.Password_Title
            </div>
        </div>
        @*<div class="section-title-empty" ></div>*@
        <div class="section-content" id="password-details-section">
            <label>@TradeRiserUIResource.Password_Old</label>
            <input type="password" id="old-password" maxlength="255" class="cpftxt form-control"/>
            <label>@TradeRiserUIResource.Password_Text</label>
            <input type="password" id="new-password" maxlength="255" class="cpftxt form-control"/>
            <label>@TradeRiserUIResource.Password_Confirm</label>
            <input type="password" id="password-confirm" maxlength="255" class="cpftxt form-control"/>
        </div>
    </div>
    <div><input type="button" id="cancel" value="@Html.Raw(TradeRiserUIResource.Ribbon_Membership_Cancel)"/><span class="fa fa-fw fa-cancel"></span>
        <input type="button" id="save" value="@Html.Raw(TradeRiserUIResource.Ribbon_User_Save)"/><span class="fa fa-fw fa-save"></span>

    </div>
</div>
