@using TradeRiser.UI
@using TradeRiser.UI.Controls
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/images/favicon.ico")"/>
    @*<script src="@this.Url.CpfContent("~/scripts/jquery.js", this.Director)" type="text/javascript"></script>
    <script src="@this.Url.CpfContent("~/scripts/corejs.ui.js", this.Director)" type="text/javascript"></script>
    <script src="@this.Url.CpfContent("~/scripts/changepassword.js", this.Director)" type="text/javascript"></script>
    <link href="@this.Url.CpfContent("~/styles/corejs.ui.css", this.Director)" rel="stylesheet" type="text/css" />
    <link href="@this.Url.CpfContent("~/styles/default.css", this.Director)" rel="stylesheet" type="text/css" />*@
     <!-- responsive styles -->
   @* <link href="@this.Url.CpfContent("~/styles/responsive.css", this.Director)" rel="stylesheet" type="text/css" />
    @if (this.Request.Browser.Browser == "IE" && this.Request.Browser.MajorVersion < 8)
    {
        <link href="@this.Url.CpfContent("~/styles/IE7.css", this.Director)" rel="stylesheet" type="text/css" />
    }*@
     <link href="~/Content/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Styles/logon.css" rel="stylesheet" />
    <link href="~/Content/Styles/form.css" rel="stylesheet" />
    @*  <script src="~/Scripts/jquery-1.7.1.js"></script>*@
    <script src="~/Content/Scripts/jquery.js" type="text/javascript"></script>
     <script src="~/Content/Scripts/corejsmvc.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/validation.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/logon.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/changepassword.js" type="text/javascript"></script>

    <script type="text/javascript">
        var COREROOT = "@Url.Action("", "", new { area = "" })";
        var CULTURE = "@this.ViewBag.CurrentCulture";
        var APPLICATIONPATH = COREROOT.replace(/\/core/gi, "");
        var USEDYNOFORM = false;

        $(function () {
            changePassword.load();
        });
    </script>
   
</head>
<body> 
     <div class="header">
        <div style="top:7px; left:5px; position:absolute">
            <img alt="TradeRiser" src="/Content/Images/TradeRiser_Web.png" style="border:0; height:50px; width:235px " />
        </div>
     @* <div class="logged-out-user-section">
          <a class="sign-up" id="sign-up">Sign Up</a>
        </div>*@
    </div>  
    <div id="signin-container">
       @*<div id="login-container">*@
        <div id="signin-section">
           @* <div class="logo">
                <img src="@string.Format("{0}/images/{1}", this.Url.Content("~/"), this.Director.VariableParser.Parse("$CONFIG('Core.Branding.Logo-Logon', 'traderiser-logon.png')"))" title="by TradeRiser" />
            </div>*@

            <div class="logon-label"><h2>@TradeRiserUIResource.ChangePasswordTitle</h2></div>
            <form id="logon-form" method="post" action="@Url.Action("Logon", "Core")">
             

                @if (this.ViewBag.CanChangePassword == true)
                {
                    <div @*class="password-fields"*@>
                        <label for="password">@TradeRiserUIResource.NewPassword@Html.ValidationControl("password", true)</label>
                        <span><input name="password" id="password" type="password" class="signin-input" autocomplete="off" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) />
                            </span>
                    </div>
                    <div class="password-fields">
                        <label for="confirm-password">@TradeRiserUIResource.ConfirmPassword@Html.ValidationControl("confirm-password", true)</label>
                        <input name="confirm-password" id="confirm-password" type="password" class="signin-input" autocomplete="off" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) />
                    </div>

                    <input type="hidden" name="reset-token" id="reset-token" value="@this.ViewBag.ResetToken" />

                    @*<div id="alert" class="alert"></div>*@
                    <div id="alert" class="alert">
                    <div class="alert-body">
                        <div class="closebutton-wrapper" style="display:inline-block"><span class="fa fa-fw fa-remove">[x]</span></div>
                    </div>
                </div>

                    <div class="password-submit" style="padding-top:20px;padding-bottom:10px;">
                        <p><input name="password-submit" id="password-submit" type="button" value="Change Password" class="btn"/></p>
                        <p><a href="@Url.Action("Logon", "Core")" id="go-login" value="Login" class="">@TradeRiserUIResource.GoToSignIn</a></p>
                    </div>
                }
                else
                {
                    <div id="alert" class="alert" style="display:block;">
                      @* @Html.Raw(TradeRiserUIResource.ExpiredPasswordResetLinkFormat("<a href=" + string.Format("{0}core/core/logon?#{1}", this.Director.ApplicationPath, Newtonsoft.Json.JsonConvert.SerializeObject(new { v = "forgotpassword" })) + ">" + TradeRiserUIResource.ForgotPassword + "</a>"))*@
                        @Html.Raw("<a href=" + string.Format("{0}core/core/logon?#{1}", this.Director.ApplicationPath, Newtonsoft.Json.JsonConvert.SerializeObject(new { v = "forgotpassword" })) + ">" + TradeRiserUIResource.ForgotPassword + "</a>")
                    </div>
                }
        </form>

        </div>
          @* </div>*@
    </div>
  
    <div id="signin-links-container">
        <div id="signin-links-section">
            <h1>@TradeRiserUIResource.PasswordPolicy</h1>
            <hr />

            <div class="highlight-info">
               @Html.Raw(this.ViewBag.PolicyMessage)
            </div>
            
        </div>
    </div>
    
    <div id="signin-footer">
        <div id="sign-in-footer-logo">
            @* img src="@Url.Content("~/images/traderiser-logo-white.png")" title="TradeRiser Logo" />*@
        </div>
        <div id="sign-in-footer-links">
            &copy; <a href="http://www.traderiser.com" title="traderiser.com" target="_blank">TradeRiser</a>
           @* <span>@this.ViewBag.Version</span> |*@
        <a href="@this.ViewBag.LegalLink" target="_blank">@TradeRiserUIResource.Logon_Legal</a> |
        <a href="@this.ViewBag.PrivacyLink" target="_blank">@TradeRiserUIResource.Logon_Privacy</a>
        </div>
    </div>

    @Html.Action("ValidationToolTip", "Controls")
</body>
</html>
