@using TradeRiser.UI
@using TradeRiser.UI.Controls
@using TradeRiser.Core.Director
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/images/favicon.ico")"/>
   @*< link href="@this.Url.CpfContent("~/styles/bootstrap.css", this.Director)" rel="stylesheet" type="text/css" />
    <link href="@this.Url.CpfContent("~/styles/corejs.ui.css", this.Director)" rel="stylesheet" type="text/css" />
    <link href="@this.Url.CpfContent("~/styles/font-awesome.min.css", this.Director)" rel="stylesheet" type="text/css" />
    <script src="@this.Url.CpfContent("~/scripts/jquery.js", this.Director)" type="text/javascript"></script>*@
    <link href="~/Content/Styles/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/Styles/logon.css" rel="stylesheet" />*@
    <link href="~/Content/Styles/style.css" rel="stylesheet" />
  @*  <link href="~/Content/Styles/site.css" rel="stylesheet" />*@

    @*  <script src="~/Scripts/jquery-1.7.1.js"></script>*@
    <script src="~/Content/Scripts/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        var CULTURE = "@this.ViewBag.CurrentCulture";
        var COREROOT = "@Url.Action("", "", new { area = "" })";
        var APPLICATIONPATH = COREROOT.replace(/\/core/gi, "");
        if (APPLICATIONPATH == "") {
            APPLICATIONPATH = "/";
        }
        else if (APPLICATIONPATH[APPLICATIONPATH.length - 1] != "/") {
            APPLICATIONPATH += "/";
        }
        var USEDYNOFORM = false;

        $(function () {
            logon.load();
        });
    </script>

</head>
<body>
@*    @if (this.Request.IsIE() && this.Request.IEVersion() < 9)
    {
        <div id="ie-alert">
            <img class="warning" src="@Url.Content("~/images/alert-error.png")" />
            @Html.Raw(TradeRiserUIResource.BrowserAlert)
        </div>
    }*@

  <div class="header">
        <div style="top:7px; left:5px; position:absolute">
<img alt="TradeRiser" src="/Content/Images/TradeRiser_Web.png" style="border:0; height:50px; width:235px " />
        </div>
    </div>
   @* <div id="signin-container">*@
    <div id="login-container">
    <div id="hpanel">
       <div class="panel-body"> 

       @* <div id="signin-section">*@
         @*    <div class="logo">
                <img alt="TradeRiser" src="/Content/Images/TradeRiser_Web.png" title="by TradeRiser" />
            </div>*@
            <form id="logon-form" method="post">

                <div>
                    <label for="username">@TradeRiserUIResource.Username @Html.ValidationControl("username", false)</label>
                    <span>
                        <input name="username" id="username" type="text" value="@this.ViewBag.Username" class="signin-input" autocomplete="off" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) /></span>
                </div>
                <div>
                    <label for="password">@TradeRiserUIResource.Password @Html.ValidationControl("password", false)</label>
                    <span>
                        <input name="password" id="password" type="password" value="@this.ViewBag.Password" class="signin-input" autocomplete="off" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) /></span>
                </div>

                <input name="timezone" id="timezone" type="hidden" class="signin-input" autocomplete="off" />

                <div id="alert" class="alert">
                    <div class="alert-body">
                        <span class="message">@if (this.ViewBag.LogonMessage != null)
                                              {<text>@this.ViewBag.LogonMessage</text>}</span>
                        <div class="closebutton-wrapper"><span class="fa fa-fw fa-remove"></span></div>
                    </div>
                </div>

                <div>
                    <input name="logon" id="logon" type="button" value="@TradeRiserUIResource.SignIn" class="btn" />
                </div>
                <div id="remember-me-section">
                    <label for="remember-me">
                        <input id="remember-me" name="remember-me" type="checkbox" @if (this.ViewBag.RememberMe != null && this.ViewBag.RememberMe) { this.Html.ViewContext.Writer.Write("checked"); } />
                        @TradeRiserUIResource.RememberMe
                    </label>

                    <div><a href="#" id="forgot-password">@TradeRiserUIResource.ForgotYourPassword</a></div>
                </div>

@*                <div>
                    <div class="select-wrapper">
                        <select id="language-code">
                            @foreach (var language in this.ViewBag.InstalledLanguages)
                            {
                                string selected = string.Empty;
                                if (language == this.ViewBag.CurrentCulture)
                                {
                                    selected = "selected='selected'";
                                }

                                <option value="@language" @selected=selected>@(new System.Globalization.CultureInfo(language).NativeName)</option>
                            }
                        </select>
                    </div>
                </div>*@
                <input name="url" type="hidden" value="@this.ViewBag.ReturnUrl" />
            </form>
        @*</div>*@
          </div>
    </div>
        </div>
 @*       <div id="signin-links-container">
            <div id="signin-links-section">
                <h1>@TradeRiserUIResource.LinksAndNotices</h1>
                <hr />
                <div id="news-failed">
                    <ul>
                        <li>Saves you time searching for quality trading opportunities</li>
                        <li>Receive real-time trade opportunity alerts</li>
                        <li>Helps you make informed decisions</li>
                        <li>Query market data</li>
                        <li>Question and Answer System</li>
                        </ul>
                </div>

        
                <div id="news" data-route="@this.ViewBag.LogonNewsRoute">
                </div>
            </div>
        </div>*@

    <div id="signin-footer">
        <div id="sign-in-footer-logo">
            @* img src="@Url.Content("~/images/traderiser-logo-white.png")" title="TradeRiser Logo" />*@
        </div>
        <div id="sign-in-footer-links">
            &copy; <a href="http://www.traderiser.com" title="traderiser.com" target="_blank">TradeRiser</a>
           @* <span>@this.ViewBag.Version</span> |*@
        <a href="@this.ViewBag.LegalLink" target="_blank">@TradeRiserUIResource.Logon_Legal</a> |
        <a href="@this.ViewBag.PrivacyLink" target="_blank">@TradeRiserUIResource.Logon_Privacy</a>
        </div>
    </div>

    @*    <script src="@this.Url.CpfContent("~/scripts/lib/tether.min.js", this.Director)" type="text/javascript"></script>
<script src="@this.Url.CpfContent("~/scripts/lib/bootstrap.js", this.Director)" type="text/javascript"></script>
    <script src="@this.Url.CpfContent("~/scripts/corejs.ui.js", this.Director)" type="text/javascript"></script>
<script src="@this.Url.CpfContent("~/scripts/lib/moment.js", this.Director)" type="text/javascript"></script>
<script src="@this.Url.CpfContent("~/scripts/lib/moment-timezone-with-data.js", this.Director)" type="text/javascript"></script>
<script src="@this.Url.CpfContent("~/scripts/lib/jstz.js", this.Director)" type="text/javascript"></script>
    <script src="@this.Url.CpfContent("~/scripts/logon.js", this.Director)" type="text/javascript"></script>*@
    <script src="~/Content/Scripts/corejsmvc.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/validation.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/logon.js" type="text/javascript"></script>
</body>
</html>
