 @using TradeRiser.UI
@using TradeRiser.UI.Controls
<div id="forgot-password-section" style="display:none;">
    <div class="logon-label"><h2>@TradeRiserUIResource.ForgotPasswordTitle</h2></div>
    <div style="padding-top:10px;">
        <label for="username-or-email">@TradeRiserUIResource.UsernameOrEmail@Html.ValidationControl("username-or-email", true)</label>
        <input name="username-or-email" id="username-or-email" type="text" class="signin-input" autocomplete="off" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) /> 
    </div>

    <div id="forgot-password-alert" class="alert">
        <div class="alert-body">
                        <div class="closebutton-wrapper" style="display:inline-block"><span class="fa fa-fw fa-remove">[x]</span></div>
                    </div>
    </div>

    <div id="forgot-button-section" style="padding-top:20px;">
        <button id="back-password" class="btn" style="display: none;">@TradeRiserUIResource.Back</button>
        <button id="cancel-password" class="btn" style="display: none;">@TradeRiserUIResource.Cancel</button>
        <button id="submit-forgot-password" name="submit-forgot-password" class="btn" style="display: none;">@TradeRiserUIResource.Submit</button>
    </div>
</div>