@using TradeRiser.UI
@using TradeRiser.UI.Controls
@using TradeRiser.Core.Director
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>TradeRiser - Beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/images/favicon.ico")"/>
    @*< link href="@this.Url.CpfContent("~/styles/bootstrap.css", this.Director)" rel="stylesheet" type="text/css" />
    <link href="@this.Url.CpfContent("~/styles/corejs.ui.css", this.Director)" rel="stylesheet" type="text/css" />
    <link href="@this.Url.CpfContent("~/styles/font-awesome.min.css", this.Director)" rel="stylesheet" type="text/css" />
    <script src="@this.Url.CpfContent("~/scripts/jquery.js", this.Director)" type="text/javascript"></script>*@
    <link href="~/Content/Styles/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/Styles/logon.css" rel="stylesheet" />*@
@*    <a href="~/Content/Styles/form.less">~/Content/Styles/form.less</a>*@
    <link href="~/Content/Styles/style.css" rel="stylesheet" />
    @*  <link href="~/Content/Styles/site.css" rel="stylesheet" />*@
    <link href="~/Content/Styles/custom.css" rel="stylesheet" />
    <link href="~/Content/Styles/font-awesome.min.css" rel="stylesheet" />
    @*  <script src="~/Scripts/jquery-1.7.1.js"></script>*@
    <script src="~/Content/Scripts/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        var CULTURE = "@this.ViewBag.CurrentCulture";
        var COREROOT = "@Url.Action("", "", new { area = "" })";
        var APPLICATIONPATH = COREROOT.replace(/\/core/gi, "");
        if (APPLICATIONPATH == "") {
            APPLICATIONPATH = "/";
        }
        else if (APPLICATIONPATH[APPLICATIONPATH.length - 1] != "/") {
            APPLICATIONPATH += "/";
        }

        $(function () {
            logon.load();
        });
    </script>

</head>

@*      .header {
    background-color:#000;
    height:50px;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    z-index :600;*@
<body class="blank" >
     <div class="header" style="background-color:#000;height:60px;box-shadow:0px 1px 3px rgba(0,0,0,0.25);z-index :600;">
        <div style="top:7px; left:5px; position:absolute">
         <img alt="TradeRiser" src="../../../Images/TradeRiser_Web1.png" border="0" height="50" width="235">
        </div>
    </div>
    <!-- Simple splash screen-->
@*    <div class="splash" style="display: none;">
        <div class="color-line"></div>
        <div class="splash-title">
            <h1>Homer - Responsive Admin Theme</h1>
            <p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>*@


  @*  <div class="color-line"></div>*@

   @* <div class="back-link">
        <a class="btn btn-primary" href="index.html">Back to Dashboard</a>
    </div>*@
     <div class="" style="position:absolute;top:20px;right:0;">
        <a class="btn" href="#">Register</a>
    </div>

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
              <div class="text-center m-b-md">
                    <h4>TradeRiser makes it easier to trade successfully.</h4>
                 @* <p>
                    <small>Saves you time searching for quality trading opportunities.</small>
                 </p>
                  <p>
                      <small>Receive real-time trade opportunity alerts</small>
                      </p>

                      <small>Helps you make informed decisions</small>
                  <small>Query market data</small>
                  <small>Question and Answer System</small>*@
                
                </div>
                <div class="hpanel">
                    <div class="panel-body">   
                        <div>
                            <p>Sign in to continue to TradeRiser</p>
                        </div>                     
                        <form id="logon-form" method="post">

                            <div class="form-group">
                                <label for="username" class="control-label" style="margin-bottom:5px;font-weight:bold;">@TradeRiserUIResource.Username @Html.ValidationControl("username", false)</label>
                                <span>
                                    <input name="username" id="username" class="form-control" type="text" value="@this.ViewBag.Username" class="signin-input" autocomplete="off" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) /></span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label" style="margin-bottom:5px;font-weight:bold;">@TradeRiserUIResource.Password @Html.ValidationControl("password", false)</label>
                                <span>
                                    <input name="password" id="password" class="form-control" type="password" value="@this.ViewBag.Password" class="signin-input" autocomplete="off" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) /></span>
                            </div>

                              <button name="logon" id="logon" class="btn btn-success btn-block">Login</button>
          <div id="remember-me-section" style="margin-top:15px;" class="form-group">
                    <label for="remember-me">
                        <input id="remember-me" name="remember-me" type="checkbox" @if (this.ViewBag.RememberMe != null && this.ViewBag.RememberMe) { this.Html.ViewContext.Writer.Write("checked"); } />
                        @TradeRiserUIResource.RememberMe
                    </label>

                    <div><a href="#" id="forgot-password">@TradeRiserUIResource.ForgotYourPassword</a></div>
                </div>
                             <input class="form-control" name="timezone" id="timezone" type="hidden" class="signin-input" autocomplete="off" />
                           
                             <div id="alert" class="alert" style="display:none">
                                <div class="alert-body">
                                    <span class="message">@if (this.ViewBag.LogonMessage != null)
                                                          {<text>@this.ViewBag.LogonMessage</text>}</span>
                                    <div class="closebutton-wrapper"><span class="fa fa-fw fa-remove"></span></div>
                                </div>
                            </div>
                            @* <div class="form-group">
                                <label class="control-label" for="username">@TradeRiserUIResource.Username @Html.ValidationControl("username", false)</label>
                                <input name="username" title="Please enter you username" class="form-control" id="username" required="" type="text" placeholder="example@gmail.com" value="">
                                <span class="help-block small">Your unique username to app</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input name="password" title="Please enter your password" class="form-control" id="password" required="" type="password" placeholder="******" value="">
                                <span class="help-block small">Yur strong password</span>
                            </div>
                            <div class="checkbox">
                                <div class="icheckbox_square-green checked" style="position: relative;">
                                    <input class="i-checks" style="position: absolute; opacity: 0;" type="checkbox" checked="">
                                    <ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>
                                Remember login
                                <p class="help-block small">(if this is a private computer)</p>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                            <a class="btn btn-default btn-block" href="#">Register</a>*@
                        </form>
                    </div>
                </div>
         @*                  <div class="hpanel">
                    <div class="panel-body">   
                        <div>
                            <p>Sign in to continue to TradeRiser</p>
                        </div>                     
                       
                    </div>
                </div>*@
            </div>
        </div>

         
   
        <div id="sign-in-footer-links">
            &copy; <a href="http://www.traderiser.com" title="traderiser.com" target="_blank">TradeRiser</a>
           @* <span>@this.ViewBag.Version</span> |*@
        <a href="@this.ViewBag.LegalLink" target="_blank">@TradeRiserUIResource.Logon_Legal</a> |
        <a href="@this.ViewBag.PrivacyLink" target="_blank">@TradeRiserUIResource.Logon_Privacy</a>    
    </div>
       @* <div class="row">
            <div class="col-md-12 text-center">
                <strong>HOMER</strong> - AngularJS Responsive WebApp
                <br>
                2015 Copyright Company Name
            </div>
        </div>*@
    </div>


    <script src="~/Content/Scripts/corejsmvc.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/validation.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/logon.js" type="text/javascript"></script>

</body>
</html>

