 @using TradeRiser.UI
@using TradeRiser.UI.Controls
@using TradeRiser.UI.Models
@{
    //this.ViewBag.Title = TradeRiserUIResource.Membership_Title;
    //this.ViewBag.SubNav = SecondaryNavigations.Normal;
    //this.ViewBag.ShowHeader = ShowHeader.Show;
    string t = string.Empty;
}
@model SaveUserModel
@section head
{
   
    <script type="text/javascript">
        $(function () {

            @if (this.ViewBag.Saved != null && !this.ViewBag.Saved)
            {
                <text>corejs.alert("@Html.Raw(this.ViewBag.Message)", "e")</text>
            }
        });

        PAGEVIEW = "@this.ViewBag.PageView";
    </script>
}
@section jQueryLoad
{
    members.edit.load();
}
@section scripts
{
}

@section ribbon
{
    <li class="nav-item"><a id="back-button" href="#" class="nav-link"><span class="fa fa-chevron-left"></span>@Html.Raw(TradeRiserUIResource.Ribbon_Membership_Cancel)</a></li>

    @if (this.Model.UserID != Guid.Empty || this.Model.IsNewUser)
    {
        <li class="nav-item"><a id="membership-button-save" href="#" class="nav-link"><span class="fa fa-fw fa-save"></span>@Html.Raw(TradeRiserUIResource.Ribbon_Membership_Save)</a></li>
    }

    @if (this.Model.UserID != Guid.Empty)
    {
        <li class="nav-item"><a id="membership-button-reset-password" href="#" class="nav-link"><span class="fa fa-fw fa-lock"></span>@Html.Raw(TradeRiserUIResource.Ribbon_Membership_ResetPassword)</a></li>
        <li class="nav-item"><a id="new-permission" class="nav-link" href="@Url.Content("~/core/permission/new?userOrGroupName=" + this.Model.UserName + "&userOrGroupID=" + this.Model.UserID)"><span class="button-icon fa">@Html.Raw(TradeRiserUIResource.Icon_Password)</span>@Html.Raw(TradeRiserUIResource.Create_Permission)</a></li>
        @*<li><a id="delete-permission" href="#"><span class="button-icon disabled">@Html.Raw(TradeRiserUIResource.Icon_Delete)</span><span class="button-label">@Html.Raw(TradeRiserUIResource.Delete_Permission)</span></a></li>*@
    }
}

@if (this.Model.UserID == Guid.Empty && !this.Model.IsNewUser)
{
    <h1>@TradeRiserUIResource.UserNotFound</h1>
}
else
{
    @*@section subnav
      {
        <ul id="membership-menu">
            <li><a id="membership-details" class="selected" href="#">@TradeRiserUIResource.Membership_Details_Title</a></li>
            <li><a id="membership-groups" href="#">@TradeRiserUIResource.Membership_Groups</a></li>
            <li><a id="membership-location-groups" href="#">@TradeRiserUIResource.Membership_Location_Groups</a></li>
           
            <li><a id="membership-preferences" href="#">@TradeRiserUIResource.Membership_User_Preferences</a></li>
        </ul>
    }
@*



    @:@section messagebox{
        @Html.Action("Message", "Core", new
   {
       area = "cpf",
       model = new TradeRiser.UI.Message()
       {
           Content = TradeRiserUIResource.ResetPasswordMemberText,
           ID = "reset-password-membership-confirmation",
           NoButtonText = TradeRiserUIResource.NoButton,
           Title = TradeRiserUIResource.ResetPassword_Title,
           YesButtonText = TradeRiserUIResource.YesButton,
           IconType = MessageIconType.Warning
       }
   })
        @Html.Action("Message", "Core", new
   {
       area = "cpf",
       model = new TradeRiser.UI.Message()
       {
           ID = "reset-password-membership-complete",
           SingleButton = true,
           Title = TradeRiserUIResource.ResetPassword_Title,
           IconType = MessageIconType.Success
       }
   })
    }*@




    <div class="membership-content">
        <div class="section" id="member-section">
            <div class="section-title">
                <div class="title-wrapper">
                    @TradeRiserUIResource.Membership_Details_Title
                </div>
            </div>
            <div id="member-details" class="section-content">
                <input type="hidden" id="userid" name="userid" value="@(!this.Model.IsNewUser ? this.Model.UserID.ToString() : string.Empty)" />
                <label for="first-name">@TradeRiserUIResource.Membership_FirstName @Html.ValidationControl("first-name", true)</label>
                <input type="text" id="first-name" name="first-name" maxlength="255" class="form-control cpftxt" value="@Model.FirstName" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) />
                <label for="last-name">@TradeRiserUIResource.Membership_LastName @Html.ValidationControl("last-name", true)</label>
                <input type="text" id="last-name" name="last-name" maxlength="255" class="form-control cpftxt" value="@Model.LastName" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) />
                @if (!this.Model.IsNewUser)
                {
                    <label for="username">@TradeRiserUIResource.Membership_UserName</label>
                    <input type="hidden" id="username" name="username" value="@(!this.Model.IsNewUser ? this.Model.UserName : string.Empty)" />
                    <label class="cpftxt">@Model.UserName</label>
                }
                else
                {
                    <label for="username">@TradeRiserUIResource.Membership_UserName @Html.ValidationControl("username", true)</label>
                    <input type="text" id="username" name="username" maxlength="255" class="form-control cpftxt"
                           @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) />

                }
                <label for="email">@TradeRiserUIResource.Membership_Email @Html.ValidationControl("email", true)</label>
                <input type="text" id="email" name="email" maxlength="255" class="form-control cpftxt" value="@Model.Email" @Html.ValidationAttributes(new ValidationAttributes() { Required = true, Email = true }) />
                <label for="phone1">
                    @TradeRiserUIResource.Membership_Phone1
                </label>
            @*    <input type="text" id="phone1" name="phone1" value="@Model.Phone1" maxlength="255" class="cpftxt form-control" />
                <label for="phone2">
                    @TradeRiserUIResource.Membership_Phone2
                </label>*@
                <input type="text" id="phone2" name="phone2" value="@Model.Phone2" maxlength="255" class="cpftxt form-control" />
           @*        <label for="user-language">
                    @TradeRiserUIResource.Membership_Language @Html.ValidationControl("user-language", true)
                </label>
             <div class="select-wrapper">
                    <select id="user-language" name="user-language" @Html.ValidationAttributes(new ValidationAttributes() { Required = true })>
                        @foreach (KeyValuePair<string, string> language in @ViewBag.Languages)
                        {
                            <option value="@language.Key" label="@language.Value" @(language.Key == this.Model.LanguageCode ? "selected='selected'" : string.Empty)>@language.Value</option>
                        }
                    </select>
                </div>*@

                @if (!this.Model.IsNewUser)
                {
                    <label for="locked">
                        @TradeRiserUIResource.Membership_Locked

                        @if (this.Model.Locked)
                        {
                            <input id="locked" name="locked" type="checkbox" checked="checked" />
                        }
                        else
                        {
                            <input id="locked" name="locked" type="checkbox" disabled="disabled" />

                            <a tabindex="0" id="locked-help-link" class="help-link fa fa-question-circle bd-popover" role="button" data-dyno-type="help" data-toggle="popover" data-trigger="focus" title="Help" data-placement="bottom" data-content="@TradeRiserUIResource.Membership_LockedHelpText"></a>

                        }
                    </label>
                    <label for="disabled">
                        @TradeRiserUIResource.Membership_Disabled
                        <input id="disabled" name="disabled" type="checkbox" @(this.Model.Disabled ? "checked='checked'" : string.Empty) />
                    </label>
                }

           @*     <label for="employee-id">
                    @TradeRiserUIResource.Membership_EmployeeID
                </label>
                <input id="employee-id" name="employee-id" type="text" class="cpftxt form-control" value="@Model.EmployeeID" />*@

                
                   <label for="country">
                    Country
                </label>
                 <div class="select-wrapper">
                    <select id="country" name="country" @Html.ValidationAttributes(new ValidationAttributes() { Required = true })>
                        @foreach (string country in @Model.Countries)
                        {
                            string key = string.Empty;
                            if (this.Model.Country != null)
                            {
                                key = this.Model.Country.Trim();
                            }
                            <option value="@country" label="@country" @(country == key ? "selected='selected'" : string.Empty)>@country</option>
                        }
                    </select>
                </div>
                  <label for="broker-id">
                    Broker
                </label>
                <input id="broker-id" name="broker-id" type="text" class="cpftxt form-control" value="@Model.Broker" @Html.ValidationAttributes(new ValidationAttributes() { Required = true }) />

               @* <label for="primary-location-id">
                    @TradeRiserUIResource.Membership_PrimaryLocationID
                    @Html.Action("Help", "Controls", new
{
    area = "cpf",
    help = new HelpControl()
    {
        TargetID = "primary-location-id",
        Content = @TradeRiserUIResource.Membership_PrimaryLocationID_Help
    }
})
                </label>
                <input id="primary-location-id" name="primary-location-id" type="text" class="cpftxt form-control" value="@Model.PrimaryLocationID" />
           *@ </div>
        </div>
        <div id="user-group-permissions-wrapper" user-group-name="@this.Model.UserName" loaded="false">
        </div>
       @* @Html.Partial("~/core/views/Controls/Loader.cshtml")*@
    @*    <div id="user-groups-wrapper" style="display: none">
            @Html.Action("autocompletegrid", "controls", new
{
    area = "cpf",
    model = this.Model.UserGroupsGrid
})
        </div>
        <div id="user-location-groups-wrapper" style="display: none">
            @Html.Action("autocompletegrid", "controls", new
{
    area = "cpf",
    model = this.Model.UserLocationGroupsGrid
})
        </div>
        <div id="user-preferences-wrapper" style="display: none">
            @Html.Action("UserPreferences", "membership", new
{
    area = "cpf",
    UserId = !this.Model.IsNewUser ? this.Model.UserID : Guid.Empty
})
        </div>*@
    </div>
}